Rank.Services.Integration.Tests/bin/Debug/nunit.framework.dll
Rank.Services.Integration.Tests/bin/Debug/nunit.framework.xml
Rank.Services.Integration.Tests/bin/Debug/Rank.Services.Integration.Tests.dll
Rank.Services.Integration.Tests/bin/Debug/Rank.Services.Integration.Tests.pdb
Rank.Services.Integration.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Rank.Services.Integration.Tests/obj/Debug/Rank.Services.Integration.Tests.csproj.FileListAbsolute.txt
Rank.Services.Integration.Tests/obj/Debug/Rank.Services.Integration.Tests.csprojResolveAssemblyReference.cache
Rank.Services.Integration.Tests/obj/Debug/Rank.Services.Integration.Tests.dll
Rank.Services.Integration.Tests/obj/Debug/Rank.Services.Integration.Tests.pdb
Rank.Services.Integration.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Rank.Services.Integration.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Rank.Services.Integration.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Rank.Services.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
Rank.Services.Tests/bin/Debug/Newtonsoft.Json.dll
Rank.Services.Tests/bin/Debug/Newtonsoft.Json.xml
Rank.Services.Tests/bin/Debug/nunit.framework.dll
Rank.Services.Tests/bin/Debug/nunit.framework.xml
Rank.Services.Tests/bin/Debug/Rank.Services.dll
Rank.Services.Tests/bin/Debug/Rank.Services.pdb
Rank.Services.Tests/bin/Debug/Rank.Services.Tests.dll
Rank.Services.Tests/bin/Debug/Rank.Services.Tests.dll.config
Rank.Services.Tests/bin/Debug/Rank.Services.Tests.pdb
Rank.Services.Tests/bin/Debug/System.Net.Http.Formatting.dll
Rank.Services.Tests/bin/Debug/System.Net.Http.Formatting.xml
Rank.Services.Tests/bin/Debug/System.Web.Helpers.dll
Rank.Services.Tests/bin/Debug/System.Web.Helpers.xml
Rank.Services.Tests/bin/Debug/System.Web.Http.dll
Rank.Services.Tests/bin/Debug/System.Web.Http.WebHost.dll
Rank.Services.Tests/bin/Debug/System.Web.Http.WebHost.xml
Rank.Services.Tests/bin/Debug/System.Web.Http.xml
Rank.Services.Tests/bin/Debug/System.Web.Mvc.dll
Rank.Services.Tests/bin/Debug/System.Web.Mvc.xml
Rank.Services.Tests/bin/Debug/System.Web.Optimization.dll
Rank.Services.Tests/bin/Debug/System.Web.Optimization.xml
Rank.Services.Tests/bin/Debug/System.Web.Razor.dll
Rank.Services.Tests/bin/Debug/System.Web.Razor.xml
Rank.Services.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
Rank.Services.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
Rank.Services.Tests/bin/Debug/System.Web.WebPages.dll
Rank.Services.Tests/bin/Debug/System.Web.WebPages.Razor.dll
Rank.Services.Tests/bin/Debug/System.Web.WebPages.Razor.xml
Rank.Services.Tests/bin/Debug/System.Web.WebPages.xml
Rank.Services.Tests/obj/Debug/Rank.Services.Tests.csproj.FileListAbsolute.txt
Rank.Services.Tests/obj/Debug/Rank.Services.Tests.csprojResolveAssemblyReference.cache
Rank.Services.Tests/obj/Debug/Rank.Services.Tests.dll
Rank.Services.Tests/obj/Debug/Rank.Services.Tests.pdb
Rank.Services.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Rank.Services.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Rank.Services.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Rank.Services/bin/Antlr3.Runtime.dll
Rank.Services/bin/Antlr3.Runtime.pdb
Rank.Services/bin/Microsoft.Web.Infrastructure.dll
Rank.Services/bin/Newtonsoft.Json.dll
Rank.Services/bin/Newtonsoft.Json.xml
Rank.Services/bin/Rank.Services.dll
Rank.Services/bin/Rank.Services.dll.config
Rank.Services/bin/Rank.Services.pdb
Rank.Services/bin/System.Net.Http.Formatting.dll
Rank.Services/bin/System.Net.Http.Formatting.xml
Rank.Services/bin/System.Web.Helpers.dll
Rank.Services/bin/System.Web.Helpers.xml
Rank.Services/bin/System.Web.Http.dll
Rank.Services/bin/System.Web.Http.WebHost.dll
Rank.Services/bin/System.Web.Http.WebHost.xml
Rank.Services/bin/System.Web.Http.xml
Rank.Services/bin/System.Web.Mvc.dll
Rank.Services/bin/System.Web.Mvc.xml
Rank.Services/bin/System.Web.Optimization.dll
Rank.Services/bin/System.Web.Optimization.xml
Rank.Services/bin/System.Web.Razor.dll
Rank.Services/bin/System.Web.Razor.xml
Rank.Services/bin/System.Web.WebPages.Deployment.dll
Rank.Services/bin/System.Web.WebPages.Deployment.xml
Rank.Services/bin/System.Web.WebPages.dll
Rank.Services/bin/System.Web.WebPages.Razor.dll
Rank.Services/bin/System.Web.WebPages.Razor.xml
Rank.Services/bin/System.Web.WebPages.xml
Rank.Services/bin/WebGrease.dll
Rank.Services/obj/Debug/Rank.Services.csproj.FileListAbsolute.txt
Rank.Services/obj/Debug/Rank.Services.csprojResolveAssemblyReference.cache
Rank.Services/obj/Debug/Rank.Services.dll
Rank.Services/obj/Debug/Rank.Services.pdb
Rank.Services/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Rank.Services/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Rank.Services/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Rank.Services.v12.suo
Rank.Services.Tests/bin/Debug/Rank.Services.dll
Rank.Services.Tests/bin/Debug/Rank.Services.pdb
Rank.Services.Tests/bin/Debug/Rank.Services.Tests.dll
Rank.Services.Tests/bin/Debug/Rank.Services.Tests.pdb
Rank.Services.Tests/obj/Debug/Rank.Services.Tests.csprojResolveAssemblyReference.cache
Rank.Services.Tests/obj/Debug/Rank.Services.Tests.dll
Rank.Services.Tests/obj/Debug/Rank.Services.Tests.pdb
Rank.Services.v12.suo
Rank.Services.v12.suo
